################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tetris/v16/Server/sqlite3
/.vs/Tetris/CopilotIndices/17.14.1368.60722
/.vs/Tetris/FileContentIndex
/.vs
